

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("StartSelling", "vendor", "RegisteLogin")</li>
    <li>@Html.ActionLink("Login", "VendorLogin", "RegisteLogin")</li>
    <li>@Html.ActionLink("Visitor?","visitorList","RegisteLogin")</li>
</ul>
